*.bak
sample.png
Accounts/*
!Accounts/Saved/1.txt
!Accounts/*.ahk
json/*
!json/1.txt
Logs/*
!Logs/1.txt
Screenshots/*
!Screenshots/1.txt
Scripts/*.ahk
!Scripts/1.ahk
!Scripts/Main.ahk
HeartBeat.ini
json/Packs.json
json/Packs-backup.json
json/total.json
json/total-backup.json
Logs/GPlog.txt
Logs/Restart.txt
Scripts/2.ahk
Scripts/3.ahk
Scripts/4.ahk
Scripts/5.ahk
Scripts/6.ahk
Scripts/temp/friendCode.png
Scripts/temp/friendCode.txt
Scripts/temp/friendCount.png
Scripts/temp/friendCount.txt
Scripts/temp/friendName.png
Scripts/temp/friendName.txt
Scripts/temp/Main_friendCode.png
Scripts/temp/Main_friendCode.txt
Scripts/temp/Main_friendName.png
Scripts/temp/Main_friendName.txt
Settings.ini
Sync_Settings.ini
synchronizer.ahk
temp.csv
/Accounts/SpecificCards
Logs/GPTestLog.txt
